<a href="{{ social_discord_link }}" target="_blank" class="block w-6 h-6 text-white hover:opacity-75 transition duration-150">
  <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" viewBox="0 0 24 24" fill="currentColor">
    <path d="M19.54 0c1.356 0 2.46 1.104 2.46 2.472v19.056c0 1.368-1.104 2.472-2.46 2.472h-15.08c-1.356 0-2.46-1.104-2.46-2.472v-19.056c0-1.368 1.104-2.472 2.46-2.472h15.08zm-2.883 6.012c-.744 0-1.35 .606-1.35 1.35s.606 1.35 1.35 1.35 1.35-.606 1.35-1.35-.606-1.35-1.35-1.35zm-6.237 0c-.744 0-1.35 .606-1.35 1.35s.606 1.35 1.35 1.35 1.35-.606 1.35-1.35-.606-1.35-1.35-1.35zm-4.32 7.92c1.452 1.62 3.312 2.52 5.34 2.52 2.028 0 3.888-.9 5.34-2.52-1.452-1.62-3.312-2.52-5.34-2.52-2.028 0-3.888.9-5.34 2.52z"/>
  </svg>
</a>
