<div class="flex items-center space-x-4">
  {% if social_discord_link != blank %}
    {% render 'icon-social-discord' social_discord_link: social_discord_link %}
  {% endif %}
  {% if social_instagram_link != blank %}
    {% render 'icon-social-instagram' social_instagram_link: social_instagram_link %}
  {% endif %}
  {% if social_tiktok_link != blank %}
    {% render 'icon-social-tiktok' social_tiktok_link: social_tiktok_link %}
  {% endif %}
  {% if social_youtube_link != blank %}
    {% render 'icon-social-youtube' social_youtube_link: social_youtube_link %}
  {% endif %}
</div>