<div class="flex items-center space-x-4">
  {% if social_facebook_visible %}
    {% render 'icon-social-facebook' social_facebook_link: social_facebook_link %}
  {% endif %}
  {% if social_instagram_visible %}
    {% render 'icon-social-instagram' social_instagram_link: social_instagram_link %}
  {% endif %}
  {% if social_linkedin_visible %}
    {% render 'icon-social-linkedin' social_linkedin_link: social_linkedin_link %}
  {% endif %}
  {% if social_twitter_visible %}
    {% render 'icon-social-twitter' social_twitter_link: social_twitter_link %}
  {% endif %}
  {% if social_tiktok_visible %}
    {% render 'icon-social-tiktok' social_tiktok_link: social_tiktok_link %}
  {% endif %}
  {% if social_youtube_visible %}
    {% render 'icon-social-youtube' social_youtube_link: social_youtube_link %}
  {% endif %}
</div>