<div class="container mb-12 md:mb-24">
  {% if section.settings.headline %}
    <div class="text-2xl lg:text-3xl font-bold text-center mb-8 md:mb-16">
      {{ section.settings.headline }}
    </div>
  {% endif %}

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-12">
    {% for block in section.blocks %}
      {% render 'section-quote',
        text: block.settings.quote-text
        author: block.settings.quote-author
      %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.quotes.name",
  "settings": [
    {
      "type": "text",
      "id": "headline",
      "label": "t:common.headline",
      "default": "What others say about us"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "t:sections.quotes.blocks.quote.name",
      "settings": [
        {
          "type": "textarea",
          "id": "quote-text",
          "label": "t:sections.quotes.blocks.quote.settings.quote-text.label",
          "default": "Testimonial"
        },
        {
          "type": "text",
          "id": "quote-author",
          "label": "t:sections.quotes.blocks.quote.settings.quote-author.label",
          "default": "Author"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.quotes.name",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}