{% if section.settings.visible %}
  {% if section.settings.home_page_only == false or template.name == 'index' %}
    <div class="container text-sm text-center text-white" style="text-shadow: 0 1px 2px rgba(0,0,0,0.2);">
      {{ section.settings.content }}
    </div>
  {% endif %}
{% endif %}

{% schema %}
{
  "name":"t:sections.announcement-bar.name",
  "class": "bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "t:sections.announcement-bar.settings.show-announcement-bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "t:sections.announcement-bar.settings.show-only-on-home-page",
      "default": true
    },
    {
      "type": "html",
      "id": "content",
      "label": "t:common.content",
      "default": "join our discord for updates → <a href=\"https://discord.gg/eJgCksvTYK\" class=\"underline\">https://discord.gg/eJgCksvTYK</a>"
    }
  ]
}
{% endschema %}