/**
 * entry file for Tailwind CSS
 * and other style files
 */
@import "tailwindcss/base";
@import "tailwindcss/components";

@import "_buttons";
@import "_forms";
@import "_mobile-navigation";
@import "_transitions";

@import "tailwindcss/utilities";

#shopify-section-layout-announcement-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto !important;
  padding: 0.5rem 0 !important;
  cursor: pointer;
}

.header-container {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.header-gradient {
  position: relative;
  z-index: 1;
}

.header-gradient::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.75), transparent);
}

.custom-footer {
  position: relative;
}

.custom-footer::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}